{% extends 'base.html' %}

{% block title %}Rejestracja udana{% endblock %}

{% block body %}
	
	<div class="row vertical-center">
		<div class="main-container py-2 px-4 col-md-8 offset-md-2 col-lg-6 offset-lg-3 my-5">
		
			<div class="row">	
			
				<div class="welcome-message m-2 pt-2 px-4">
					<p class="welcome-text text-justify">Dziękuję za rejestrację w serwisie. Właśnie poczyniłeś pierwszy krok w kierunku osiągniecia zamierzonych celów.</p>
					
					<div class="row">
						<div class="col text-center">
							<button type="button" class="btn btn-hover color-8  btn-md mb-2" onclick="window.location.href = '/'">Przejdź do strony logowania</button>	
						</div>
					</div>
				
				</div>

			</div>
		</div>
	</div>
			

{% endblock %}
