{% extends 'base.html' %}

{% block body %}
<div class="wrapper1 mx-auto mt-5">
    <div class="blur  my-1">
        <div class="row mb-5">
            <p style="font-size: 1.25em;">
                Welcome aboard! I'm glad You say YES. Wall€tfy! was developed to create a trustworthy place for You to make money menagement easier.
            </p>
            <p>Please check your email to activate your account.</p>
            <p style="font-size: 1.25em;">
                Click the button below to return to the login page.
            </p>
        </div>
        <div class="row">
            <div class="mx-auto mt-2 mb-2">
                <button type="button" class="btn btn-rounded btn-lg p-2" id="btnBack" onclick="window.location.href = '/'"><span class="material-icons mr-1 mt-2">reply</span>BACK TO LOGIN PAGE</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}