{% extends 'base.html' %}

{% block body %}
<div class="content">
    <div class="mb-4 mt-5">
        <svg class="title">
            <text x="0" y="40">Wall€tfy!</text>
        </svg>
        <p class="lead text-justify">
            Walcome to Wall€tfy! - a personal finance application that makes money management easy. The app is designed to streamline cash tracking and help you save money.
        </p>
        <p class="lead text-justify">
            On the top You can select the option You are interested in. Add a new income, expense, view the balance of the period You are interested in or personalize Your account in the settings.
        </p>
    </div>
</div>
<div class="container-fluid mt-5">
    <div class="row">
        <footer class="page-footer">
            <div class="footer-container text-center mx-auto">
                <p class="text-center">Wszelkie prawa zastrzeżone. Copyright © 2021. All Rights Reserved.
                    Follow me:<a class="mx-3" href="#!" id="ln"><i class="fab fa-linkedin"></i></a>
                    <a class="mx-3" href="#!" id="fb"><i class="fab fa-facebook-square"></i></a>
                    <a class="mx-3" href="#!" id="gh"><i class="fab fa-github"></i></a>
                </p>
            </div>
        </footer>
    </div>
</div>
</section>

<!-- ModalIncomes-->
<div class="modal fade" id="addIncome" tabindex="-1" role="dialog" aria-labelledby="addIncome" aria-hidden="true" data-backdrop="false">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content rounded-5">
        <div class="modal-header d-flex justify-content-center">
            <h4 id="addIncome" class="modal-title mx-auto">ADD NEW INCOME</h4>
        </div>
        <div class="modal-body py-0 bg-light">
            <form action="add_income.php" method="post" autocomplete="off">

                <div class="income-input mx-auto mt-4">
                    <div class="income-icon">
                        <span class="material-icons px-2 py-2">
                            attach_money
                        </span>
                    </div>
                    <input class="amount-data px-3" type="number" class="form-control" placeholder="Value" min="0" max="99999.99" step="0.01" aria-label="value" name="amount" style="width: 85%" required>
                </div>

                <div class="income-input mx-auto mt-3">
                    <div class="income-icon">
                        <span class="material-icons px-2 py-2 text-muted">
                            date_range
                        </span>
                    </div>
                    <input type="date" class="data-control px-3" aria-label="date" name="date" value="<?php echo date('Y-m-d'); ?>" style="width: 85%" required>
                </div>

                <div class="income-input mx-auto mt-3">
                    <div class="income-icon">
                        <span class="material-icons px-2 py-2">
                            list
                        </span>
                    </div>
                    <select name="category" class="user-options px-4 text-muted" style="width: 85%" required>
                        <option value="">--- Please select option ---</option>
                        <option  value="Salary">Salary</option>
                        <option  value="Internet Sale">Internet sale</option>
                        <option  value="Interest">Interest</option>
                        <option  value="Donation">Donation</option>
                        <option  value="Gift">Gift</option>
                        <option  value="Other">Other</option>
                    </select>
                </div>

                <div class="income-input mx-auto mt-3 mb-4">
                    <div class="income-icon">
                        <span class="material-icons px-2 py-4">
                            description
                        </span>
                    </div>
                    <textarea class="form-data px-3 py-2" minlength="0" maxlength="50" placeholder="Commentary (not required)" name="comment" style="width: 85%"></textarea>
                </div>
        </div>
        <div class="modal-footer justify-content-center flex-column flex-md-row btn-group">
            <button type="submit" id="saveIncome" name="addIncome" value="ADD" class="btn btn-outline-success mr-2 w-25">SAVE</button>
            <button type="reset" class="btn btn-rounded btn-danger w-25" name="erase_income" value="CLOSE" data-dismiss="modal" onclick="this.form.reset();">CLOSE</button>
        </div>
        </form>
    </div>
</div>
</div>


<!-- ModalExpenses-->
<div class="modal fade" id="addExpense" tabindex="-1" role="dialog" aria-labelledby="addExpense" aria-hidden="true" data-backdrop="false">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content rounded-5">
        <div class="modal-header d-flex justify-content-center">
            <h4 id="addExpense" class="modal-title mx-auto">ADD NEW EXPENSE</h4>
        </div>
        <div class="modal-body py-0 bg-light">
            <form action="add_expense.php" method="post" autocomplete="off">
                <div class="expense-box mx-auto pl-4 pr-3">
                    <div class="title text-center mx-auto">ADD NEW EXPENSE</div>
                    <div class="expense-input mx-auto mt-0">
                        <div class="expense-icon">
                            <span class="material-icons px-2 py-2">
                                attach_money
                            </span>
                        </div>
                        <input class="form-data px-3" type="number" class="form-control" placeholder="Value" min="0" max="99999.99" step="0.01" aria-label="value" name="amount" style="width: 85%" required>
                    </div>

                    <div class="expense-input mx-auto mt-4">
                        <div class="expense-icon">
                            <span class="material-icons px-2 py-2">
                                date_range
                            </span>
                        </div>
                        <input type="date" class="data-control px-3" aria-label="date" name="date" style="width: 85%" min="2000-01-01" max="2030-12-31" value="<?php echo date('Y-m-d'); ?>" required>
                    </div>

                    <div class="expense-input mx-auto mt-4">
                        <div class="expense-icon">
                            <span class="material-icons px-2 py-2">
                                credit_score
                            </span>
                        </div>
                        <select name="paymentMethod" class="user-options px-3 text-muted" style="width: 85%" required>
                            <option value="">--- Please select option ---</option>
                            <option  value="Credit Card">Credit card</option>
                            <option  value="Cash">Cash</option>
                            <option  value="Debet Card">Debet card</option>
                            <option  value="Blik">Blik</option>
                            <option  value="Transfer">Transfer</option>
                        </select>
                    </div>

                    <div class="expense-input mx-auto mt-4">
                        <div class="expense-icon">
                            <span class="material-icons">
                                <span class="material-icons px-2 py-2">
                                    shopping_bag
                                </span>
                            </span>
                        </div>
                        <select name="purpose" class="user-options px-3 text-muted" style="width: 85%" required>
                            <option  value="">--- Please select option ---</option>
                            <option " value="Food">Food</option>
                            <option  value="Housekeeping">Housekeeping</option>
                            <option  value="Clothes">Clothes</option>
                            <option  value="Transport">Transport</option>
                            <option  value="Health">Health</option>
                            <option  value="Hygiene">Hygiene</option>
                            <option  value="Kids">Kids</option>
                            <option  value="Entertainment">Entertainment</option>
                            <option  value="Travelling">Travelling</option>
                            <option  value="School">School/Learning</option>
                            <option  value="Books">Books</option>
                            <option  value="Debt">Debt</option>
                            <option  value="Pension">Pension</option>
                            <option  value="Donation">Donation</option>
                            <option  value="Other">Other</option>
                        </select>
                    </div>

                    <div class="expense-input mx-auto mt-4 mb-4">
                        <div class="expense-icon">
                            <span class="material-icons px-2 py-4">
                                description
                            </span>
                        </div>
                        <textarea class="form-data px-3 py-2" minlength="0" maxlength="50" placeholder="Commentary (not required)" name="comment" style="width: 85%"></textarea>
                    </div>
                </div>
        </div>

        <div class="modal-footer justify-content-center flex-column flex-md-row btn-group">
            <button type="submit" id="saveExpense" name="addExpense" value="ADD" class="btn btn-floating btn-outline-success mr-2">SAVE</button>
            <button type="reset" class="btn btn-floating btn-rounded btn-danger waves-effect" name="erase_expense" value="CLOSE" action="erase_expense.php" data-dismiss="modal" onclick="this.form.reset();">CLOSE</button>
        </div>
        </form>
    </div>
</div>
</div>

{% endblock %}
