{% extends 'base.html' %}

{% block title %}Dodaj wydatek{% endblock %}

{% block footer %}

<script src="../js/showLimit.js"></script>

{% endblock %}

{% block nav_item_3 %}active{% endblock %}

{% block body %}
	
	<div class="row vertical-center">
		<div class="main-container py-2 px-4 col-md-8 offset-md-2 col-lg-6 offset-lg-3 my-5">
		
			<div class="row">	
				<div class="welcome-message mt-2 mb-2 mx-2 py-3 px-5 w-100">
				
					<div class="row">
						<div class="col-12 text-center">
							<h2 class="mb-xl-4">Dodaj wydatek</h2>
						</div>
					</div>
		
					<form action="/expense/create" method="post">
					
						<div class="mb-3 rounded" id="categoryLimit"></div>
						
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text"> <i class="fas fa-wallet"></i> </span>
							</div>
							<input type="number" class="form-control"  placeholder="Kwota" min="0" max="999999.99" step="0.01" aria-label="kwota" id="amount" name="amount" value="{{ expense.amount }}" required autofocus >
						</div>
					
						<span class="error">{{ expense.errors.amount }}</span>
					
						<div class="input-group mt-3">
							<div class="input-group-prepend">
								<span class="input-group-text"> <i class="fas fa-calendar-alt"></i> </span>
							</div>
							<input id="transactionDate" type="date" class="form-control" aria-label="data" name="expenseDate"  value="{{ todaysDate }}" min="2000-01-01" max="{{ lastDate }}" required>
						</div>
						
						<span class="error">{{ expense.errors.date }}</span>
						
						<div class="input-group mt-3">
							<div class="input-group-prepend">
							<label class="input-group-text"><i class="fas fa-money-check"></i></label>
							</div>				
							<select id="paymentCategory" class="custom-select" data-live-search="true" name="paymentMethod">
							
							{% for paymentMethod in paymentMethods %}
								<option>{{ paymentMethod.name }}</option>
							{% endfor %}
							<option>Inne</option>
							
							</select>
						</div>

						<div class="input-group mt-3">
							<div class="input-group-prepend">
							<label class="input-group-text"><i class="fas fa-shopping-cart"></i></label>
							</div>				
							<select id="expenseCategory" class="custom-select" data-live-search="true" name="expenseCategory">
			
							{% for userExpense in userExpenses %}
								<option>{{ userExpense.name }}</option>
							{% endfor %}
							<option>Inne</option>
								
							</select>
						</div>
						
						<div class="input-group mt-3">
							<div class="input-group-prepend">
								<span class="input-group-text">
									<i class="fas fa-pen"></i>
								</span>
							</div>
							<textarea class="form-control" rows="2 mt-3" maxlength="90"  placeholder="Komentarz (opcjonalne)" name="comment"></textarea>
						</div>
						
						<span class="error">{{ expense.errors.comment }}</span>

						<div class="row">
						
							<div class="col-6">
								<button type="submit" class="btn btn-hover color-8 btn-lg btn-block mt-3">Dodaj</button>
							</div>
							
							<div class="col-6">
								<button type="button" class="btn btn-hover color-11 btn-block btn-lg mt-3" onclick="window.location.href = '../menu/index';">Anuluj</button>	
							</div>
							
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
			

{% endblock %}
