{% extends 'base.html' %}

{% block title %}Ustawienia{% endblock %}

{% block footer %}
	<script src="../js/showHidePassword.js"></script>
	<script src="../js/sortTable.js"></script>

	<script>
		function toggleSettingPanel(idOfButton, idOfPanel) {
				$("i", "#"+idOfButton).toggleClass("fas fa-chevron-down fas fa-chevron-up");			
				$('#'+idOfPanel).slideToggle("fast");
		}
		
		$('#editProfileModal').on('shown.bs.modal', function () {
			$('#name').focus();
		})
		
		if ( window.history.replaceState ) {
		  window.history.replaceState( null, null, window.location.href );
		}
		
		$.validator.addMethod('validPassword',
            function(value, element, param) {
                if (value != '') {
                    if (value.match(/.*[a-z]+.*/i) == null) {
                        return false;
                    }
                    if (value.match(/.*\d+.*/) == null) {
                        return false;
                    }
                }

                return true;
            },
            'Hasło musi zawierać co najmniej 1 literę i 1 cyfrę.'
        );
	
		$(document).ready(function() {
			$('.editIncomeBtn').on('click',function() {
				$('#editIncomeModal').modal('show');
				
				$tr = $(this).closest('tr');
				var data = $tr.children("td").map(function() {
					return $(this).text();
				}).get();
				
				$('#incomeCategoryModal').val(data[0]);
				$('#incomeCategoryIdModal').val(data[2]);
				
			});			
			
			$('.editExpenseBtn').on('click',function() {
				$('#editExpenseModal').modal('show');
				
				$tr = $(this).closest('tr');
				var data = $tr.children("td").map(function() {
					return $(this).text();
				}).get();
				
				$('#expenseCategoryModal').val(data[0]);
				$('#expenseLimitModal').val(data[1]);
				$('#expenseCategoryIdModal').val(data[3]);
				
			});			
			
			$('.editPaymentBtn').on('click',function() {
				$('#editPaymentModal').modal('show');
				
				$tr = $(this).closest('tr');
				var data = $tr.children("td").map(function() {
					return $(this).text();
				}).get();
				
				$('#paymentModal').val(data[0]);
				$('#paymentIdModal').val(data[2]);
				
			});
			
			var userId = '{{ user.id }}';
			
			$('#editProfileForm').validate( {
				errorClass: 'text-danger',
				rules: {
					email: {
						required: true,
						email: true,
						remote: {
							url: '/account/validate-email',
							data: {
								ignore_id: function() {
									return userId;
								}
							}
						}
					},
					name: {
						maxlength: 20
					}	
				},
				messages: {
					email: {
						required: "Pole nie może być puste.",
						email: "Prosze wpisać poprawny adres e-mail.",
						remote: "Podany adres e-mail jest zajęty."
					}, 
					name: {
						required: "Pole nie może być puste.",
						maxlength: "Imię może mieć długość maksymalnie 20 znaków."
					}
				},
				errorPlacement: function ($error, $element) {
					var name = $element.attr("name");

					$("#error" + name).append($error);
				}

			});	
			
			$('#editPasswordForm').validate( {
				errorClass: 'text-danger',
				rules: {

					password: {
						required: true,
						minlength: 6,
						maxlength: 20,
						validPassword: true
					},
					oldPassword: {
						remote: {
							url: '/account/validate-password',
							data: {
								user_id: function() {
									return userId;
								}								
							}
						}
					}
				},
				messages: {
					password: {
						required: "Pole nie może być puste.",
						minlength: "Hasło musi składać się z co najmniej 6 znaków.",
						maxlength: "Hasło musi składać się z maksymalnie 20 znaków."
					},					
					oldPassword: {
						required: "Pole nie może być puste.",
						remote: "Wprowadzone hasło jest niepoprawne."
					}
				},
				errorPlacement: function ($error, $element) {
					var name = $element.attr("name");

					$("#error" + name).append($error);
				}

			});			
			
			
		});

	</script>

{% endblock %}

{% block nav_item_5 %}active{% endblock %}

{% block body %}
	
	<div class="row">
		<div class="main-container py-2 px-3 col-md-8 offset-md-2 col-lg-6 offset-lg-3 my-5">
		
			<div class="row">	
				<div class="welcome-message mt-2 mb-2 mx-2 py-3 px-4 w-100">
				
					<div class="row">
						<div class="col-12 text-center">
							<h2 class="mb-xl-4">Ustawienia</h2>
						</div>
						<button id="settingButton1" class="btn btn-hover no-focus btn-block mt-2" onClick="toggleSettingPanel(this.id,'settingTogglePanel1')">Kategorie przychodów <i class="fas fa-chevron-down setting-icon"></i></button>

						<div id="settingTogglePanel1" class="settingTogglePanel w-100 px-2">
						
						<table id="tableOfIncomesCategories" class="table table-hover table-active text-white table-sm table-text">
							
							<thead>	
								<tr>
								<th onclick="sortTableAlphabetically('tableOfIncomesCategories')" scope="col">Kategoria <i class="fas fa-sort"></i></th>
								<th scope="col" width="5%"></th>
								<th scope="col" style="display:none;">ID</th></tr>
							</thead>
							<tbody>
								{% for userIncome in userIncomes %}
								<tr class="editIncomeBtn"><td>{{ userIncome.name }}</td>
								<td><i class="fas fa-edit"></i></td>
								<td style="display:none;">{{ userIncome.id }}</td></tr>
							{% endfor %}
							</tbody>
						</table>								
							
						<div class="row">
							<div class="col mb-2">
								<button class="btn btn-hover no-focus btn-sm btn-block" style="height:30px" data-toggle="modal" data-target="#addIncomeCategoryModal">Dodaj nową kategorię</button>
							</div>						
						</div>
							
						</div>	

						<div class="modal fade" id="addIncomeCategoryModal" tabindex="-1" role="dialog" aria-labelledby="addIncomeCategory" aria-hidden="true" >
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h4 id="addIncomeCategory" class="modal-title">Dodaj kategorię przychodów</h4>
										<button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">
										  <span aria-hidden="true">&times;</span>
										</button>
									</div>
									<form action="/settings/addIncomeCategory" method="post" id="newIncomeCategoryForm">
										<div class="modal-body">
												
											<div class="input-group">
												<div class="input-group-prepend">
													<span class="input-group-text"><i class="fas fa-shopping-cart"></i></span>
												</div>
												<input type="text" class="form-control"  placeholder="Kategoria przychodów" maxlength="40" step="any" aria-label="KategoriaPrzychodu" name="newIncomeCategory" required >
											</div>
		
										</div>
																			
										<div class="modal-footer">
											<button type="submit" class="btn btn-hover color-8">Potwierdź</button>
										</div>
										
									</form>	
								</div>
								
							</div>
						</div>			

						<div class="modal fade" id="editIncomeModal" tabindex="-1" role="dialog" aria-labelledby="edytujKategoriePrzychodu" aria-hidden="true" >
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h4 id="edytujKategoriePrzychodu" class="modal-title">Edytuj kategorię przychodów</h4>
										<button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">
										  <span aria-hidden="true">&times;</span>
										</button>
									</div>
									<form action="" method="post" id='editIncomeForm'>
										<div class="modal-body">
												
											<input type="hidden" id="incomeCategoryIdModal" name="incomeCategoryId">
											<div class="input-group">
												<div class="input-group-prepend">
													<span class="input-group-text"><i class="fas fa-shopping-cart"></i></span>
												</div>
												<input type="text" id="incomeCategoryModal" class="form-control"  placeholder="Kategoria przychodów" maxlength="40" step="any" aria-label="KategoriaPrzychodu" name="incomeCategory" required >
											</div>
		
										</div>
																			
										<div class="modal-footer">
											<button id="incomeModalSubmit" formaction="/settings/updateIncomeCategory"  type="submit" class="btn btn-hover color-8">Potwierdź</button>
											<button type="submit" formaction="/settings/deleteIncomeCategory" class="btn btn-hover color-11">Usuń kategorię</button>
										</div>
										
									</form>	
								</div>
								
							</div>
						</div>												
				

						<button id="settingButton2" class="btn btn-hover no-focus  btn-block mt-2" onClick="toggleSettingPanel(this.id,'settingTogglePanel2')">Kategorie wydatków <i class="fas fa-chevron-down setting-icon"></i></button>
						
						<div id="settingTogglePanel2" class="settingTogglePanel w-100 px-2">
						
							<table id="tableOfExpensesCategories" class="table table-hover table-active text-white table-sm table-text">
								
								<thead>	
									<tr>
									<th onclick="sortTableAlphabetically('tableOfExpensesCategories')" scope="col">Kategoria <i class="fas fa-sort"></i></th>
									<th scope="col" onclick="sortTableNumerically('tableOfExpensesCategories')">Limit <i class="fas fa-sort"></i></th>
									<th scope="col"  width="5%"></th>
									<th scope="col" style="display:none;">ID</th></tr>
								</thead>
								<tbody>
									{% for userExpense in userExpenses %}
									<tr class="editExpenseBtn"><td>{{ userExpense.name }}</td>
									<td>{{ userExpense.categoryLimit }}</td>
									<td><i class="fas fa-edit"></i></td>
									<td style="display:none;">{{ userExpense.id }}</td></tr>
								{% endfor %}
								</tbody>
							</table>								
	
							
							<div class="row">
								<div class="col mb-2">
									<button class="btn btn-hover no-focus btn-sm btn-block" style="height:30px" data-toggle="modal" data-target="#addExpenseCategoryModal">Dodaj nową kategorię</button>
								</div>						
							</div>
							
						</div>
						
						<div class="modal fade" id="addExpenseCategoryModal" tabindex="-1" role="dialog" aria-labelledby="addExpenseCategory" aria-hidden="true" >
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h4 id="addExpenseCategory" class="modal-title">Dodaj kategorię wydatków</h4>
										<button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">
										  <span aria-hidden="true">&times;</span>
										</button>
									</div>
									<form action="/settings/addExpenseCategory" method="post" id="newExpenseCategoryForm">
										<div class="modal-body">
												
											<div class="input-group">
												<div class="input-group-prepend">
													<span class="input-group-text"><i class="fas fa-shopping-cart"></i></span>
												</div>
												<input type="text" class="form-control"  placeholder="Kategoria wydatków" maxlength="40" step="any" aria-label="KategoriaWydatku" name="newExpenseCategory" required >
											</div>
		
										</div>
																			
										<div class="modal-footer">
											<button type="submit" class="btn btn-hover color-8">Potwierdź</button>
										</div>
										
									</form>	
								</div>
								
							</div>
						</div>			

						<div class="modal fade" id="editExpenseModal" tabindex="-1" role="dialog" aria-labelledby="edytujKategorieWydatku" aria-hidden="true" >
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h4 id="edytujKategorieWydatku" class="modal-title">Edytuj kategorię wydatków</h4>
										<button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">
										  <span aria-hidden="true">&times;</span>
										</button>
									</div>
									<form action="" method="post" id='editIncomeForm'>
										<div class="modal-body">
												
											<input type="hidden" id="expenseCategoryIdModal" name="expenseCategoryId">
											<div class="input-group mb-3">
												<div class="input-group-prepend">
													<span class="input-group-text"><i class="fas fa-shopping-cart"></i></span>
												</div>
												<input type="text" id="expenseCategoryModal" class="form-control"  placeholder="Kategoria wydatków" maxlength="40" step="any" aria-label="KategoriaWydatków" name="expenseCategory" required >
											</div>											
											
											<div class="input-group">
												<div class="input-group-prepend">
													<span class="input-group-text"><i class="fas fa-angle-double-up"></i></span>
												</div>
												<input type="number" id="expenseLimitModal" class="form-control" step="0.01" min="0" max="999999.99"  placeholder="Limit (opcjonalne)" aria-label="limitKategorii" name="amount" >
											</div>
											<small class="text-muted">Pozostaw puste, by pozbyć się limitu.</small>
		
										</div>
																			
										<div class="modal-footer">
											<button id="incomeModalSubmit" formaction="/settings/updateExpenseCategory"  type="submit" class="btn btn-hover color-8">Potwierdź</button>
											<button type="submit" formaction="/settings/deleteExpenseCategory" class="btn btn-hover color-11">Usuń kategorię</button>
										</div>
										
									</form>	
								</div>
								
							</div>
						</div>							
						
						
						<button id="settingButton3" class="btn btn-hover no-focus btn-block mt-2" onClick="toggleSettingPanel(this.id,'settingTogglePanel3')">Sposoby płatności <i class="fas fa-chevron-down setting-icon"></i></button>

						<div id="settingTogglePanel3" class="settingTogglePanel w-100 px-2">
							
							<table id="tableOfPayment" class="table table-hover table-active text-white table-sm table-text">
								
								<thead>	
									<tr>
									<th onclick="sortTableAlphabetically('tableOfPayment')" scope="col">Sposób płatności <i class="fas fa-sort"></i></th>
									<th scope="col" width="5%"></th>
									<th scope="col" style="display:none;">ID</th></tr>
								</thead>
								<tbody>
									{% for paymentMethod in paymentMethods %}
									<tr class="editPaymentBtn"><td>{{ paymentMethod.name }}</td>
									<td><i class="fas fa-edit"></i></td>
									<td style="display:none;">{{ paymentMethod.id }}</td></tr>
								{% endfor %}
								</tbody>
							</table>								
							
							
							<div class="row">
								<div class="col mb-2">
									<button class="btn btn-hover no-focus btn-sm btn-block" style="height:30px" data-toggle="modal" data-target="#addPaymentModal">Dodaj nową metodę płatności</button>
								</div>						
							</div>
							
						</div>		

						<div class="modal fade" id="editPaymentModal" tabindex="-1" role="dialog" aria-labelledby="edytujMetodePlatnosci" aria-hidden="true" >
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h4 id="edytujMetodePlatnosci" class="modal-title">Edytuj metodę płatności</h4>
										<button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">
										  <span aria-hidden="true">&times;</span>
										</button>
									</div>
									<form action="" method="post" id='editIncomeForm'>
										<div class="modal-body">
												
											<input type="hidden" id="paymentIdModal" name="paymentId">
											<div class="input-group">
												<div class="input-group-prepend">
													<span class="input-group-text"><i class="fas fa-money-check"></i></span>
												</div>
												<input type="text" id="paymentModal" class="form-control"  placeholder="Metoda płatności" maxlength="30" step="any" aria-label="MetodaPlatnosci" name="paymentCategory" required >
											</div>
		
										</div>
																			
										<div class="modal-footer">
											<button formaction="/settings/updatePaymentMethod"  type="submit" class="btn btn-hover color-8">Potwierdź</button>
											<button type="submit" formaction="/settings/deletePaymentMethod" class="btn btn-hover color-11">Usuń metodę</button>
										</div>
										
									</form>	
								</div>
								
							</div>
						</div>							
						
						<div class="modal fade" id="addPaymentModal" tabindex="-1" role="dialog" aria-labelledby="dodajMetodePlatnosci" aria-hidden="true" >
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h4 id="dodajMetodePlatnosci" class="modal-title">Dodaj metodę płatności</h4>
										<button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">
										  <span aria-hidden="true">&times;</span>
										</button>
									</div>
									<form action="" method="post" id='addIncomeForm'>
										<div class="modal-body">
												
											<input type="hidden" id="paymentIdModal" name="paymentId">
											<div class="input-group">
												<div class="input-group-prepend">
													<span class="input-group-text"><i class="fas fa-money-check"></i></span>
												</div>
												<input type="text" class="form-control"  placeholder="Metoda płatności" maxlength="30" step="any" aria-label="MetodaPlatnosci" name="paymentCategory" required >
											</div>
		
										</div>
																			
										<div class="modal-footer">
											<button formaction="/settings/addPaymentMethod"  type="submit" class="btn btn-hover color-8">Potwierdź</button>
										</div>
										
									</form>	
								</div>
								
							</div>
						</div>	
						
						
						<button id="settingButton4" class="btn btn-hover no-focus btn-block mt-2" onClick="toggleSettingPanel(this.id,'settingTogglePanel4')">Zarządzaj kontem <i class="fas fa-chevron-down  setting-icon"></i></button>
						
						<div id="settingTogglePanel4" class="settingTogglePanel w-100 px-2">
						
							<div class="row">
							
								<div class="col-6 mb-2">
									<button class="btn btn-hover no-focus btn-sm btn-block mt-2" data-toggle="modal" data-target="#editProfileModal" style="height:30px">Edytuj profil</button>
								</div>
								
								<div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="edytujProfil" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h4 id="edytujProfil" class="modal-title">Edytuj profil</h4>
												<button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">
												  <span aria-hidden="true">&times;</span>
												</button>
											</div>
											<form action="/settings/updateProfileData" method="post" id='editProfileForm'>
												<div class="modal-body">
												
													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text"> <i class="fas fa-user-alt"></i> </span>
														</div>
														<input id="name" type="text" class="form-control" placeholder="Imię" aria-label="imie" name="name" value="{{ user.name }}" required autofocus>
													</div>
													<small id="errorname"></small>	
													<div class="input-group mt-3">
														<div class="input-group-prepend">
															<span class="input-group-text"> <i class="fas fa-envelope"></i> </span>
														</div>
														<input type="email" class="form-control" placeholder="E-mail" aria-label="email" id ="email" name="email" value="{{ user.email }}" required >
														<input type="hidden" value="{{ user.id }}" name ="id" required >
													</div>	
													<small id="erroremail"></small>													
													
												</div>
												<div class="modal-footer">
													<button type="submit" class="btn btn-hover color-8" >Potwierdź</button>
												</div>
											</form>
										</div>
									</div>
								</div>									
								
								<div class="col-6 mb-2">
									<button class="btn btn-hover no-focus-red btn-sm btn-block mt-2" data-toggle="modal" data-target="#deleteUserDataModal" style="height:30px">Zresetuj transakcje</button>	
								</div>
								
								<div class="modal fade" id="deleteUserDataModal" tabindex="-1" role="dialog" aria-labelledby="zresetujKonto" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h4 id="zresetujKonto" class="modal-title">Zresetuj wszystkie transakcje</h4>
												<button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">
												  <span aria-hidden="true">&times;</span>
												</button>
											</div>
											<form method="post" action="/settings/resetAccountTransactions">
												<div class="modal-body">
													Czy na pewno chcesz zresetować wszystkie swoje przychody i wydatki? Zmiany są nieodwracalne.
													
													<input type="hidden" name="resetAccount">
													
												</div>
												<div class="modal-footer">
													<button  class="btn btn-hover color-8">Potwierdź</button>
												</div>
											</form>
										</div>
									</div>
								</div>														
								
								
							</div>	
							
							<div class="row">
							
								<div class="col-6 mb-2">
									<button class="btn btn-hover no-focus btn-sm btn-block mt-2" data-toggle="modal" data-target="#changePasswordModal" style="height:30px">Zmień hasło</button>
								</div>
								
								<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="zmienHaslo" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h4 id="zmienHaslo" class="modal-title">Zmień hasło</h4>
												<button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">
												  <span aria-hidden="true">&times;</span>
												</button>
											</div>
											<form method="post" action="/settings/changePassword" id="editPasswordForm">
												<div class="modal-body">
													<div class="input-group mt-3">
														<div class="input-group-prepend">
															<span class="input-group-text"> <i class="fa fa-lock"></i></span>
														</div>
														<input type="password" class="form-control" data-toggle="password" placeholder="Stare hasło" aria-label="Stare hasło" id="oldPassword" name="oldPassword" required>	

													</div>
													
													<small id="erroroldPassword"></small>														
													
													<div class="input-group mt-3">
														<div class="input-group-prepend">
															<span class="input-group-text"> <i class="fa fa-lock"></i></span>
														</div>
														<input type="password" class="form-control" data-toggle="password" placeholder="Nowe hasło" aria-label="Nowe hasło" id="password" name="password" required>
														<div class="input-group-append" style="cursor:pointer">
															<span class="input-group-text" onclick="myFunction('password')">
																<i id="showHideIcon" class="fa fa-eye"></i>
															</span>
														</div>
													</div>	
													
													<small id="errorpassword"></small>													
													
												</div>
												<div class="modal-footer">
													<button type="submit" class="btn btn-hover color-8">Potwierdź</button>
												</div>
											</form>
										</div>
									</div>
								</div>									
								
								<div class="col-6 mb-2">
									<button class="btn btn-hover no-focus-red btn-sm btn-block mt-2" data-toggle="modal" data-target="#deleteAccountModal" style="height:30px">Usuń konto</button>	
								</div>
								
								<div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog" aria-labelledby="usunKonto" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h4 id="usunKonto" class="modal-title">Usuń konto</h4>
												<button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">
												  <span aria-hidden="true">&times;</span>
												</button>
											</div>
											<form method="post" action="/settings/deleteAccount">
												<div class="modal-body">
													Czy na pewno chcesz usunąć swoje konto wraz ze wszystkimi danymi?
											
													<input type="hidden" name="deleteAccount">
										
												</div>
												<div class="modal-footer">
													<button type="submit" class="btn btn-hover color-8" >Potwierdź</button>
										
												</div>
											</form>
										</div>
									</div>
								</div>								
								
							</div>	
							
						</div>	
						
					</div>				
				</div>
			</div>
		</div>
	</div>
			

{% endblock %}
